.help-layout {
    display: flex;
    padding-top: 2em;
    gap: 2rem;
}

.help-layout .form-header {
    font-size: 1.5rem;
}

.help-layout .card {
    row-gap: 0.8rem;
}

.form-subheader {
    font-size: 1rem;
    font-weight: 600;
    /* margin-top: 1rem; */
    /* margin-bottom: 0.5rem; */
}

.help-nav {
    position: sticky;
    top: 10rem;
    align-self: flex-start;

    padding-left: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    min-width: 190px;
}

.help-dot {
    position: relative;

    width: 14px;
    height: 14px;

    border-radius: 50%;

    background: var(--alabaster-grey);

    box-shadow:
        3px 3px 6px #d7d7d7,
        -3px -3px 6px #ffffff;
}

.help-dot::after {
    content: "";

    position: absolute;

    top: 50%;
    left: 50%;

    width: 0;
    height: 0;

    border-radius: 50%;

    background: var(--periwinkle);

    transform: translate(-50%, -50%);

    transition:
        width .2s ease,
        height .2s ease;
}




.help-step.active .help-dot::after {
    width: 6px;
    height: 6px;
}

.help-line {
    width: 4px;
    height: 30px;

    margin-left: 5px;

    border-radius: 999px;

    background: var(--alabaster-grey);

    box-shadow:
        inset 2px 2px 4px rgba(0,0,0,.12),
        inset -2px -2px 4px rgba(255,255,255,.8);
}

.help-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.help-image {
    display: block;

    width: auto;
    max-width: 100%;
    height: auto;

    border-radius: calc(var(--radius-sm) - 2px);
}

.help-image-holder {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.25rem;

    border-radius: var(--radius-sm);

    background: var(--alabaster-grey);

    box-shadow:
        inset 2px 2px 5px rgba(0,0,0,.08),
        inset -2px -2px 5px rgba(255,255,255,.7);
}

.help-image-placeholder {
    min-height: 250px;

    border-radius: var(--radius-sm);

    background: var(--light-lavender);

    box-shadow: var(--shadow-pressed);
}

.help-images-row {
    display: flex;
    gap: 1rem;
}

.help-images-row .help-image-placeholder {
    flex: 1;
}

.help-row {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.help-step {
    display: flex;
    align-items: center;
    gap: .75rem;

    cursor: pointer;
}

.help-step.active span {
    color: var(--dusty-lavender);
    font-weight: bold;
}

.help-steps {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    flex: 1;
}

.help-step-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.help-step-item > div {
    line-height: 28px;
}

.help-number {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;

    flex-shrink: 0;

    border-radius: 50%;

    background: var(--alabaster-grey);

    box-shadow:
        inset 2px 2px 5px rgba(0,0,0,.08),
        inset -2px -2px 5px rgba(255,255,255,.7);

    font-weight: bold;

    margin-top: 2px;
}

.help-link {
    text-decoration: underline;
    color: var(--periwinkle);
    cursor: pointer;
}

.help-notice {
    padding-left: 1rem;
    margin: 1rem 0;
    font-weight: 500;

    border-left: 4px solid var(--periwinkle);
}


